.green_info_h2{
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
s
.green_sub_heading{
    opacity: 0;
    -webkit-transition: all 1s 1s;
    -moz-transition: all 1s 1s;
    -ms-transition: all 1s 1s;
    -o-transition: all 1s 1s;
    transition: all 1s 1s;
}

.green_hr{
    opacity: 0;
    -webkit-transition: all 1s .5s;
    -moz-transition: all 1s .5s;
    -ms-transition: all 1s .5s;
    -o-transition: all 1s .5s;
    transition: all 1s .5s;
}

.green_info_h2_init {
    opacity: 0;
    transform: translate(0, -200%);
}

.green_sub_heading_init {
    opacity: 0;
    transform: translate(0, -200%);
}

.green_hr_init{
    opacity: 0;
    transform: translate(-100%, 0);
}

.green_info_h2_done,
.green_hr_done,
.green_sub_heading_done{
    opacity: 1;
    transform: translate(0, 0);
}

.icon_box_1 {
    opacity: 0;
    -webkit-transition: transform 1s 2s, opacity 1s .5s;
    -moz-transition: all 1s 1.5s;
    -ms-transition: all 1s 1.5s;
    -o-transition: all 1s 1.5s;
    transition: all 1s 1.5s;
}

.icon_box_2 {
    opacity: 0;
    -webkit-transition: all 1s 2s;
    -moz-transition: all 1s 2s;
    -ms-transition: all 1s 2s;
    -o-transition: all 1s 2s;
    transition: all 1s 2s;
}

.icon_box_3 {
    opacity: 0;
    -webkit-transition: all 1s 3s;
    -moz-transition: all 1s 3s;
    -ms-transition: all 1s 3s;
    -o-transition: all 1s 3s;
    transition: all 1s 3s;
}

.icon_box_4 {
    opacity: 0;
    -webkit-transition: all 1s 4s;
    -moz-transition: all 1s 4s;
    -ms-transition: all 1s 4s;
    -o-transition: all 1s 4s;
    transition: all 1s 4s;
}

.icon_box_1_init,
.icon_box_2_init,
.icon_box_3_init,
.icon_box_4_init{
    opacity: 0;
    transform: translate(0, -500%);
}

.icon_box_1_done,
.icon_box_2_done,
.icon_box_3_done,
.icon_box_4_done{
    opacity: 1;
    transform: translate(0, 0);
}