.bg-img div span{
  width: 100%;
  height: 100%;
  position: absolute;
  left: -150px;
  top: 0;
  z-index: 2;
  text-indent: -999em;
  background-repeat: no-repeat;
  transition: left .5s ease-in-out;
}

.img-container input.select-img-1:checked ~ .bg-img,
.bg-img div span:nth-child(1){
  background: url(../images/1.jpg);
}

.img-container input.select-img-2:checked ~ .bg-img,
.bg-img div span:nth-child(2){
  background: url(../images/2.jpg);
}

.img-container input.select-img-3:checked ~ .bg-img,
.bg-img div span:nth-child(3){
  background: url(../images/3.jpg);
}

.img-container input.select-img-4:checked ~ .bg-img,
.bg-img div span:nth-child(4){
  background: url(../images/4.jpg);
}

.bg-img div:nth-child(1) span{
  background-position: 0 0;
}

.bg-img div:nth-child(2) span{
  background-position: -150px 0;
}

.bg-img div:nth-child(3) span{
  background-position: -300px 0;
}

.bg-img div:nth-child(4) span{
  background-position: -450px 0;
}

.img-container input:checked ~ .bg-img span{
  animation: slideOut 0.6s ease-in-out;
}

@keyframes slideOut {
  0% {
    left: 0;
  }
  100%{
    left: 150px;
  }
}

.img-container input.select-img-1:checked ~ .bg-img div span:nth-child(1),
.img-container input.select-img-2:checked ~ .bg-img div span:nth-child(2),
.img-container input.select-img-3:checked ~ .bg-img div span:nth-child(3),
.img-container input.select-img-4:checked ~ .bg-img div span:nth-child(4){
  z-index: 10;
  left: 0;
  animation: none;
}

.bg-titles h3{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
  z-index: 999;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.bg-titles h3 span:first-child{
  display: block;
  font-size: 70px;
  font-family: "BebasNeue", "Arial Narrow", Arial sans-serif;
  letter-spacing: 7px;
}

.bg-titles h3 span:nth-child(2){
  display: block;
  font-size: 14px;
  padding: 10px;
  background: rgba(104, 171, 194, .9);
  font-family: Cambria, Palatino, "Palation Linotype", "Palatino LT STD";
  letter-spacing: 0;
  font-style: italic;
}

.img-container input.select-img-1:checked ~ .bg-titles h3:first-child,
.img-container input.select-img-2:checked ~ .bg-titles h3:nth-child(2),
.img-container input.select-img-3:checked ~ .bg-titles h3:nth-child(3),
.img-container input.select-img-4:checked ~ .bg-titles h3:nth-child(4){
  opacity: 1;
}
