/* base css */
*{
	margin: 0;
	padding: 0;
}

a{
  color: #666;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

ul{
	list-style: none;
}

p{
	line-height: 100%;
}

.wrapper{
  width: 1220px;
  margin: 0 auto;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.clearFix:after{
	display: block;
	content: ' ';
	clear: both;
}

.clearFix{
	zoom: 1;
}
